/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/*
 * Breakpoint viewport sizes and media queries.
 *
 * We concern to mobile first, so for now we just handle for media min-width
 * The breakpoint based on the most common screen sizes.
 * Check it the link: https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.2vnm1rtv4
 *
 * Author: darwin <darwin301194@gmail.com>
 */
@mixin media-breakpoint($range) {
  $phone_boundary: 600px;
  $tablet_portrait_boundary: 900px;
  $tablet_landscape_boundary: 1200px;

  @if $range == tablet-portrait-up {
    @media (min-width: $phone_boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet_portrait_boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet_landscape_boundary) { @content; }
  }
}

/**
 * A mixin for writing @font-face rules.
 *
 * Author: darwin <darwin301194@gmail.com>
 */
@mixin font-face($name, $path, $types: thin light regular medium semibold bold black, $exts: eot svg otf ttf woff woff2 ) {
  $font_weight: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    black: 900
  );

  $font_extmod: (
		eot: "?",
		svg: "#webfontregular"
	);

  $font_format: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $type in $types {
    $weight: map-get($font_weight, $type);
    $src: null;

    @each $ext in $exts {
      $format: format(quote(
        if(
          map-has-key($font_format, $ext),
          map-get($font_format, $ext),
          $ext
        )
      ));

      $extmod: if(
        map-has-key($font_extmod, $ext),
        $ext + map-get($font_extmod, $ext),
        $ext
      );

      $src: append(
        $src,
        url(quote($path + "-" + $type + "." + $extmod)) $format,
        comma
      )
    }

    @font-face {
      font-family: quote($name);
      font-weight: $weight;
      src: $src;
    }
  }
}
