/*------------------------------------*\
    #PROJECT
\*------------------------------------*/

.project__list {
}
  .project__item {
  }

    .project__link {
      position: relative;
      display: block;
      height: 300px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

      .project-content {
        position: absolute;
        bottom: 70px;
        left: 22px;
        font-size: 13px;
        color: #000;
        z-index: 1;
      }

        .project-content__name {
          font-size: 23px;
          font-weight: 400;
        }
