/*------------------------------------*\
    #PROJECT
\*------------------------------------*/

.project__list {
}
  .project__item {
    position: relative;
    height: 300px;
  }

    .project__link {
      display: block;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: blue;
      background-blend-mode: darken;
    }

      .project-content {
        position: absolute;
        bottom: 54px;
        left: 22px;
        font-size: 13px;
        color: white;
      }

        .project-content__name {
          font-size: 23px;
          font-weight: 400;
          line-height: 1.2;
        }
