/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

.site-nav {
  @extend %clearfix;

  position: fixed;
  bottom: 150px;
  height: 0;
}

  .site-nav__home-link {
  }

  .site-nav__list {

  }

    .site-nav__item {
      margin-bottom: 5px;
    }





.site-nav--mobile {
  @extend %clearfix;

  float: right;
}
